We explore the collected data from the survey form

In [1]:
# Load the libraries
import pandas as pd
import matplotlib as plt

##### Load the Data

In [3]:
survey_data = pd.read_csv("../data/user_data.csv")
survey_data.head()

,age,gender,income,expense_utilities,expense_entertainment,expense_school_fees,expense_shopping,expense_healthcare
0,20,male,2000.0,1000.0,500.0,0.0,500.0,0.0
1,54,male,7000.0,1000.0,500.0,1000.0,500.0,1000.0
2,23,female,20000.0,10000.0,5000.0,0.0,1000.0,1000.0
3,32,other,1345.0,100.0,200.0,0.0,300.0,20.0
4,44,male,7568.0,500.0,100.0,1345.0,1200.0,0.0